body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

td{
  background-color: rgb(43, 226, 67);
  padding: 30px;
}

.delete{
  background-color:#8836f4;
  padding: 15px;
  border: none;
}

.edit{
  background-color: rgb(255, 0, 76);
  padding: 15px;
  border: none;
}
